boto3
unidecode
python-pptx
PyPDF2
beautifulsoup4
openpyxl
bs4
python-docx
xlrd
striprtf
odtreader
odfpy
pillow
patool
opencv-python-headless
pdf2image
rarfile
unrar
pytest
pytest-mock
setuptools
dbfread
pytesseract
scipy
textract
